* {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
    overflow: hidden;
}

a {
    text-decoration: none;
}

p {
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    line-height: 20px;
}
